<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %} Deck Builder {% endblock %}</title>
        <meta name="description" content="{% block description %}Deck Builder allows users to merge quizlet decks effeciently. {% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/bootstrap.css">
   		{% assets "scss" %}
	        <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
	</head>
	<body>
		{% block content %}{% endblock %}
		{% assets "all_dev_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
	</body>
</html>