{% extends "base.html" %}
{% block content %}
<script src="http://yui.yahooapis.com/3.16.0/build/yui/yui-min.js"></script>
{% raw %}
<div nq-app>
	
</div>
<script type="text/x-handlebars-template" id="deckTemplate">
	{{#each decks}}
	<div class="container deck" data-qid="{{this.id}}">
		<button type="btn btn-default" id="removeDeck" data-qid="{{this.id}}">Remove</button>
		<h2>
			<span class="deckTitle">{{this.title}}</span>
			<span class="termCount">({{this.term_count}})</span>
		</h2> 
		{{#each terms}}
		<div class="container row card">
				<span class="term">{{this.term}}</span>
				<span class="definition">{{this.definition}}</span>
		</div>
		{{/each}}
	</div>
	{{/each}}
</script>
{% endraw %}
<div class="container-fluid">
	<form role="form" id="getDecks">
<!-- 	  <div class="form-group">
	    <label for="generalKeyword">General Keyword (comma seperated) [optional]</label>
	    <input class="form-control" id="generalKeyword" placeholder="Ex: Thermodynamics, Physics 213">
	  </div> -->
	  <div class="form-group">
	    <label for="specificKeyword">Specific Keyword (comma seperated) [required]</label>
	    <input class="form-control" id="specificKeyword" placeholder="Ex: Entropy, Enthalpy, Boltzmann distribution">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	  <button type="submit" class="btn btn-default" id="reset">Reset</button>
	</form>
	<form role="form" id="filterDecks">
    	<label for="filterDecks">Filter Decks  (comma seperated)</label>
    	<input class="form-control" id="filter" placeholder="Ex: First Law, Gibbs Free Energy">
    </form>
</div>
<div class="container-fluid" id="decks"></div>

{% endblock %}